.exam-report-view-page {
  .exams {
    //display: flex;
    //justify-content: space-between;
    //display: -webkit-flex; /* Safari */
    //display: flex;
    //
    //-webkit-flex-wrap: wrap; /* Safari 6.1+ */
    //flex-wrap: wrap;

    //border: 1px solid red;
    max-width: 1300px;
    margin: 0 auto;
    //padding-left:10px;
    //margin-bottom: 5px;
    overflow: auto;
  }

  .item {
    min-width: 190px;
    float: left;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid #41ADDD;
    color: #41ADDD;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;

    position: relative;

    &:active {
      background: #41ADDD;
      color: #FFF;
    }

    &:hover {
      background: #ced4da;
      //border: 1px solid transparent;
    }

    ul {
      display: none;
      position: absolute;
      top: 1px;
      right: 1px;
      list-style: none;
      overflow: auto;
      padding: 0;

      background: #FFF;
      li {
        float: left;
        //padding: 5px 10px;
        padding: 9px;
        margin: 0;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
