.section-view-page {
  .action {
    a {
      padding-left: 5px;
      padding-right: 5px;
      border: 1px solid transparent;

      &:hover {
        border: 1px solid #41ADDD;
      }
    }
  }

  .actions {
    position: relative;

    .main {
      float: right;
    }
  }

  #actions-pop {
    position: absolute;
    right: 50px;
    top: 10px;

    a, span {
      color: #41ADDD;
    }

    span:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
