.ques-view-page {
  .ck-add2exam {
    cursor: pointer;

    span {
      padding: 10px;
      height: 20px;
      width: 20px;

      i {
        font-size: 20px;
      }
    }
  }

  .op {
    text-align: center;
    span {
      padding-left: 10px;
      padding-right: 10px;
      margin-left: 15px;
      border: 1px solid #41ADDD;
    }
  }
}
